/* 
  - shades of gray:
    #3e3e3e
    #252526
    #1e1e1e

  - blue:
    #007acc
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

*, p, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #3e3e3e;
  color: white;
  font-family: "Poppins", sans-serif;
}

a {
  font-family: inherit;
  color: inherit;
}

header {
  background-color: #1e1e1e;
  padding: 1rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

header a {
  margin-right: 1rem;
  font-size: 1.5rem;
}

header a:hover {
  color: #007acc;
  text-decoration: none;
}

#root {
  min-height: 100%;
}

.bt {
  padding: 0.5rem;
  border: none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-right: 1rem;
}

.bt-blue {
  background-color: #007acc;
  color: white;
}

.bt-red {
  background-color: red;
  color: white;
}

.user-message {
  background-color: white;
  color: green;
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 0.4rem 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.user-message.active {
  display: block;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product {
  position: relative;
  background-color: #252526;
  width: 300px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  margin: 1rem;
}

.product-details {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.product-details h4 {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.product-details h3 {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.product-details span {
  font-weight: bold;
}

.product-description {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  color: #1e1e1e;
  padding: 1rem;
  transform: translateY(101%);
  transition: transform 0.2s ease-in-out;
  overflow: auto;
  max-height: 100%;
}

.product:hover .product-description {
  transform: translateY(0);
}

#product-form {
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #252526;
  padding: 1rem;
  width: 500px;
}

#product-form input, #product-form textarea {
  margin: 1rem 0;
  border: none;
  background-color: #1e1e1e;
  font-family: inherit;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  width: 100%;
}

#product-form textarea {
  height: 200px;
}